html {
  background-color: white;
  height: 100%;
  margin: 0px;
}
body {
  font-family: arial, sans-serif;
  background-color: white;
  margin: 0;
  height: 100%;
}

.main {
  align-content: center;
  width: 600px;
  margin: 5rem auto;
}